@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Black.eot');
    src: url('BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Black.woff2') format('woff2'),
        url('BrandonGrotesque-Black.woff') format('woff'),
        url('BrandonGrotesque-Black.ttf') format('truetype'),
        url('BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}