@import url(../fonts/Brandon/stylesheet.css);

:root {
    --bs-yellow: #ffbb00;
}
body {
    font-family: 'Brandon Grotesque';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.list li::before {
  content: "• ";
  color: #ffbb00; /* or whatever color you prefer */
}
.no-bg {
    background: none!important;
}

.hero {
    background: url(../img/hero.jpg) no-repeat;
    background-size: cover;
}
.hero1 {
    background: url(../img/hero1.jpg) no-repeat;
    background-size: cover;
}
.hero2 {
    background: url(../img/hero2.jpg) no-repeat;
    background-size: cover;
}
.hero3 {
    background: url(../img/hero3.jpg) no-repeat;
    background-size: cover;
}
.hero4 {
    background: url(../img/hero4.jpg) no-repeat;
    background-size: cover;
}
.navbar-dark .navbar-toggler {
    background-color: var(--bs-yellow);
    border-radius: 0;
    z-index: 3;
    border: none;
    box-shadow: none;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 2.2em;
    height: 2.5em;
}
.navbar-dark .navbar-toggler.active {
    position: fixed;
    right: 2.25rem;
    top: 0;
}
.navbar-dark .navbar-toggler svg,
.navbar-dark .navbar-toggler.active .navbar-toggler-icon  {
    opacity: 0;
    display: none;
}
.navbar-dark .navbar-toggler.active svg {
    opacity: 1;
    display: inline-block;
}
.navbar-round-text {
    font-size: 10px;
    padding: 13px 2px;
    font-weight: bold;
}
#navbarHeader {
    position: fixed;
    background: #000 url(../img/top-leaves.png) no-repeat top left;
    color: #ffbb00;
    font-weight: 900;
    font-size: 3rem;
    line-height: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 2;
}
#navbarHeader ul li a {
    text-decoration: none;
    color: #fff;
}
#navbarHeader ul li a:hover {
    color: #ffbb00;
}
#navbarHeader.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
body.menu-open {
    height: 100vh;
    overflow: hidden;
}
/********* Floating Social Bar ***********/
.social-bar {
    background: #ffbb00;
    z-index: 3;
}
.social-bar ul li a {
    padding: 0.7rem 0.6rem;
    display: block;
    color: #fff;
}
.social-bar ul li a:hover {
    color: #000;
}
.social-bar ul li:last-child {
    border-top: 1px solid #fff;
}

.section {
    max-width: 990px;
    margin: auto;
}
.services {
    margin-top: -120px;
}
.service a {
    border-width: 10px!important;
}
.service a span {
    font-weight: 900;
}
.service a:hover {
    filter: brightness(110%);
}

.middle-content h2 {
    font-weight: 900;
    color: #2b7050;
}

.pattern {
    background: url(../img/pattern.jpg) no-repeat bottom center;
    background-size: cover;
    bottom: -30px;
}
.pattern hr {
    height: 5px;
    background-color: #000;
    opacity: 1;
    border-radius: 30px;
}

.box {
    z-index: 1;
    bottom: -30px;
}
.box h3 {
    z-index: 1;
    font-weight: 900;
    line-height: 2.5rem;
}
.box a {
    top: 0;
    right: 0;
    color: #fff;
    font-size: 2rem;
    background: #ffbb00;
    padding: 0.4rem 0.9rem;
}
.box a:hover {
    background: #000;

}
.triangles, .triangles div {
    height: 65vw;
}
.triangles .one {
    background: url(../img/tri1.jpg) no-repeat top left;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0 100%);
}
.triangles .two {
    background: url(../img/tri2.jpg) no-repeat bottom right;
    background-size: cover;
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%, 0 100%);
}
.triangles h1 {
    font-weight: 900;
    max-width: 300px;
}
.triangles .one h1 {
    bottom: 40vw;
    left: 30vw;
}
.triangles .two h1 {
    bottom: 9vw;
    right: 40vw;
}
.triangles .two img {
    bottom: 0;
    right: 10vw;
    width: 20vw;
}

footer {
    background: #000 url(../img/footer-leaves.png) no-repeat top right;
    color: #fff;
}
footer ul {
    color: #ffbb00;
    line-height: 1.6;
}
footer ul li a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
footer h5 {
    color: #ffbb00;
    border-bottom: 5px solid #ffbb00;
    display: inline-flex;
}
footer ul li a i {
    color: #ffbb00;
    margin-right: 0.5rem;
}
footer ul li a:hover {
    color: #ffbb00;
}
.footer-copyright {
    background: #2b7050;
    font-weight: 400;
    font-size: 90%;
}
.footer-copyright ul {
    padding-left: 0;
}
.footer-copyright ul li {
    margin-left: 1.8rem;
}
.footer-copyright ul li a {
    font-weight: 400;
}
.social-links a i {
    color: #fff;
    font-size: 1rem;
}
.social-links a:hover i {
    color: #ffbb00;
} 
.footer-copyright img {
    position: absolute;
    bottom: 40px;
    right: 4vw;
}
.murga {
    max-width: 18vw;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #ffbb00;
    border: none;
    border-radius: 0;
}

ul.address {
    color: #ffbb00;
    line-height: 1.6;
    position: relative;
}
ul.address li a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding-left: 1.5rem;
    display: block;
}
ul.address li a i {
    color: #ffbb00;
    margin-right: 0.5rem;
    position: absolute;
    left: 0;
}
ul.address li a:hover {
    color: #ffbb00;
}

/********** Inner pages **********/
.img-box h4 {
    background-color: #ffbb00;
}
.image-section {
    margin-top: -5rem;
}
.contact-form {
    background: #e0592a;
}

/********** Responsive *********/
@media (max-width: 991px) {
    #navbarHeader {
        font-size: 2rem;
        background-size: 30%;
    }
    footer {
        background-size: 30%; 
    }
    .top-leaves {
        max-width: 30%;
    }
    .triangles {
        height: auto;
    }
    .triangles > div {
        position: relative!important;
        clip-path: none!important;
        height: 50vw;
    }
    .box, .pattern {
        bottom: 0;
    }
    .pattern {
        padding-bottom: 1rem;
    }
    .triangles .one h1 {
        bottom: 9vw;
        right: 40vw;
    }
}
@media (max-width: 767px) {
    #navbarHeader ul li {
        list-style-type: none;
    }
    .image-section {
        margin-top: 2rem;
    }
}